name: Build RPCS3

defaults:
  run:
    shell: bash
on:
  push:
    #branches:
    #  - master # Only trigger push event on 'master' branch
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  Win32_Build:
    name: Windows LLVM Build
    runs-on: windows-2025
    steps:
      - name: WSL test
        run: |
          clang --version
          curl -LO https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/LLVM-19.1.7-win64.exe
          LLVM-21.1.4-win64.exe /S
          clang --version
        shell: cmd
