name: Build RPCS3

defaults:
  run:
    shell: bash
on:
  push:
    #branches:
    #  - master # Only trigger push event on 'master' branch
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  Win32_Build:
    name: Windows LLVM Build
    runs-on: windows-2025
    steps:
      - name: WSL test
        run: |
          @echo off
          REM Get the version of clang
          for /f "tokens=2 delims= " %%i in ('clang --version') do set clang_version=%%i
          
          REM Compare the version to 19.1.7
          if "%clang_version%" NEQ "19.1.7" (
              echo Clang version is %clang_version%, downloading LLVM 19.1.7...
              curl -LO https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/LLVM-19.1.7-win64.exe
          ) else (
              echo Clang version is up to date: %clang_version%
          )
        shell: cmd
