name: Build RPCS3

on:
  workflow_call:
  push:

jobs:
  build-rpcs3:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/anyvm-org/anyvm:latest
      options: freebsd
    steps:
    - name: test
      run: |
        uname -a
