name: Build RPCS3

on:
  workflow_call:
  push:

jobs:
  build-rpcs3:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/anyvm-org/anyvm:latest
    steps:
    - name: test
      run: |
        pwd
        ls -al
        ls -al /
        python3 /anyvm.org/anyvm.py --os freebsd -- uname -a
