name: Build RPCS3

defaults:
  run:
    shell: pwsh
on:
  push:
    #branches:
    #  - master # Only trigger push event on 'master' branch
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  windows_jobs:
    strategy:
      matrix:
        os:
          - windows-11-arm
          - windows-2022
    runs-on: ${{ matrix.os }}
    steps:
      - run: |
          Get-CimInstance Win32_Processor | Select-Object Name, ProcessorId, NumberOfCores, NumberOfLogicalProcessors, MaxClockSpeed
          Get-WmiObject Win32_Processor | Select-Object -Property Name, AddressWidth, Manufacturer, ProcessorId, DataWidth
