name: Build RPCS3

on:
  workflow_call:
  push:

jobs:
  build-rpcs3:
    runs-on: ubuntu-latest
    container:
      image: anyvm:latest
      options: --os freebsd
    steps:
    - name: test
      run: uname -a
