name: Build RPCS3

defaults:
  run:
    shell: bash
on:
  push:
    #branches:
    #  - master # Only trigger push event on 'master' branch
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  windows_jobs:
    strategy:
      matrix:
        os:
          - windows-11-arm
          - windows-2022
    runs-on: ${{ matrix.os }}
    steps:
      - run: |
          echo "Architecture: ${{ env:PROCESSOR_ARCHITECTURE }}"
