name: Build RPCS3

defaults:
  run:
    shell: bash
on:
  push:
    #branches:
    #  - master # Only trigger push event on 'master' branch
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  Win32_Build:
    name: Windows LLVM Build
    runs-on: windows-2025
    steps:
      - name: WSL test
        run: |
          clang --version
          curl -LO https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/clang+llvm-19.1.7-x86_64-pc-windows-msvc.tar.xz
          tar -xf clang+llvm-19.1.7-x86_64-pc-windows-msvc.tar.xz -C "C:\Program Files\LLVM" --strip-components=1
          clang --version
        shell: bash
