name: Build RPCS3

defaults:
  run:
    shell: bash
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  BUILD_REPOSITORY_NAME: ${{ github.repository }}
  BUILD_SOURCEBRANCHNAME: ${{ github.ref_name }}
  BUILD_PR_NUMBER: ${{ github.event.pull_request.number }}
  BUILD_SOURCEVERSION: ${{ github.sha }}
  BUILD_ARTIFACTSTAGINGDIRECTORY: ${{ github.workspace }}/artifacts/

jobs:
  FreeBSD_Build:
      # Only run push event on master branch of main repo, but run all PRs
    #if: github.event_name != 'push' || (github.repository == 'RPCS3/rpcs3' && github.ref_name == 'master')
    name: RPCS3 FreeBSD 
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      CCACHE_DIR: ${{ github.workspace }}/ccache
      QT_VER_MAIN: '6'
      LLVM_COMPILER_VER: '-devel'
      CC: 'clang-devel'
      CXX: 'clang++-devel'
      LLVM_CONFIG: 'llvm-config-devel'

    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Restore Build Ccache
        uses: actions/cache/restore@main
        id: restore-build-ccache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: FreeBSD-ccache-${{github.run_id}}
          restore-keys: FreeBSD-ccache-

      - name: Setup Entrypoint
        run: |
          cat <<EOF > .ci/freebsd-entry.sh
          cd /rpcs3
          export CC=$CC
          export CXX=$CXX
          export LLVM_CONFIG=$LLVM_CONFIG
          export LLVM_COMPILER_VER=$LLVM_COMPILER_VER
          export QT_VER_MAIN=$QT_VER_MAIN
          .ci/install-freebsd.sh
          .ci/build-freebsd.sh
          EOF
          chmod +x .ci/freebsd-entry.sh
          
      - name: Docker setup and build
        run: |
          docker run \
            -v $PWD:/rpcs3 \
            --env-file .ci/freebsd.env \
            -v ${{ env.CCACHE_DIR }}:/root/.ccache  \
            ghcr.io/anyvm-org/anyvm:latest \
            --os freebsd \
            -- /rpcs3/.ci/freebsd-entry.sh

      - name: Save Build Ccache
        if: github.ref == 'refs/heads/master'
        uses: actions/cache/save@main
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.restore-build-ccache.outputs.cache-primary-key }}
