name: Build RPCS3

defaults:
  run:
    shell: bash
on:
  push:
    #branches:
    #  - master # Only trigger push event on 'master' branch
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  Win32_Build:
    name: Windows LLVM Build
    runs-on: ubuntu-latest
    steps:
      - name: WSL test
        run: |
          echo "date= $(date +%s)" >> $GITHUB_ENV
          echo ${{ env.date }}
        shell: cmd
      - name: env test
        run: |
          echo ${{ env.date }}
        shell: cmd
